/* custom CSS here */
:focus {
    outline: none
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}

.maincontent {
    z-index: 999;
    padding-bottom: 30px
}

.page {
    min-height: 100%
}

.page {
    position: relative;
    background: rgb(255, 108, 22); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 108, 22, 1) 0%, rgba(215, 31, 48, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 108, 22, 1) 0%, rgba(215, 31, 48, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 108, 22, 1) 0%, rgba(215, 31, 48, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.page:after {
    background: url(../img/bg.png) no-repeat bottom right;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo {
    text-align: center;
    padding: 24px 0;
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    z-index: 999;
    line-height: 1;    /*position: absolute;
                left: 0;
                right: 0;*/
}

.logo span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.logo  a {
    display: inline-block;
    vertical-align: middle;
}

.maincontent {
    z-index: 999;
    position: relative;
    padding-top: 60px
}

.maincontent .container {
}

.tbl-cell {
    vertical-align: middle;
    display: table-cell;
}

.tbl-full {
    display: table;
    width: 100%;
    height: 100%;
}
.slick-slide img {
    max-width: 100%;
}
.box-slider {
    float: left;
    width: 50%;
    background: url(../img/bg-1.png) no-repeat center center;
    background-size: contain;
}

.inner-slider {
    background: url(../img/icon-phone.png) no-repeat;
    width: 274px;
    height: 558px;
    position: relative;
    margin: 0 auto;
}

#slider {
    width: 249px;
    height: 445px;
    top: 51px;
    left: 15px;
    position: absolute;
}

.box-content {
    float: right;
    width: 50%;
    padding-left: 30px
}

.box1 {
    text-align: center;
    margin-bottom: 50px;
}

.box1 h4 {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.box1-info {
    background: #860f1a;
    padding: 9px 7px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 9px;
    line-height: 1.2;
    margin-top: 19px;
}

.box2 p {
    margin-bottom: 25px;
}

.box2 h4 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 20px;
}

.box2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}

/*reset slick*/
button.slick-prev.slick-arrow {
    left: 10px;
}

button.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    background: none;
    height: 45px;
    outline: none;
    border: none;
    font-size: 0;
    width: 18px;
    padding: 0;
    border-radius: 50%;
    z-index: 99;
    color: #060606;
}

button.slick-next.slick-arrow {
    right: 10px;
}

button.slick-arrow:after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 35px
}

button.slick-next.slick-arrow:after {
    content: "\f105";
}

button.slick-prev.slick-arrow:after {
    content: "\f104";
}

button.slick-arrow:hover {

    /* background: #ffe200;*/
    color: #002240;
}

.logo span {
    margin: 15px 0
}

@media (min-width:1200px) {
    .container {
        width: 1180px;
    }

}

@media (max-width:800px) {
    .maincontent{ padding-top: 30px }
    .box-slider {
        float: none;
        width: auto;
    }

    .box-content {
        float: none;
        width: auto;
        padding-left: 0;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .logo {
        padding: 10px 0;
        font-size: 20px;
    }

}

@media (max-width:640px) {
    .box-download img {
        max-width: 120px;
    }

}