<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Hệ thống bảo trì</title>
</head>
<div id="wrapper">
        <h1 class="title" style="">
            <strong>
                Hệ thống hiện đang nâng cấp, bạn vui lòng quay lại sau<br>
            </strong>
        </h1>    
    <p><img src="http://daukhimiennam.com/themes/gas/images/logo.png"></p>
</div><!--end of wrapper-->
<link rel="stylesheet" href="http://daukhimiennam.com/themes/gas/css/underconstruction.css" type="text/css" />
<script>
    $(function(){
        $('#page').attr('id','');
        $('#main').attr('id','');
    });
</script>
