/* custom CSS here */
:focus {
    outline: none
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.document{

}
.document p{
    line-height: 24px;
    margin-bottom: 25px;
}
.document h1 {
    font-size: 28px;
}
.document h2 {
    font-size: 26px;
}
.document h3 {
    font-size: 24px;
}
.document h4 {
    font-size: 22px;
}
.document h5 {
    font-size: 20px;
}
.document ul{}
.document ul li{ margin-bottom: 10px }
.document table td, .document table th {
    border: 1px solid #ccc;
    padding: 10px;
}
.document table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: left;
}