a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}
body {font-size:16px;}
.appContent hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid #e8e8e8;
}

.appContent p strong {
    color: #434343;
}

.appContent p {
    line-height: 24px;
    margin-bottom: 15px;
    /*color: red !important;*/
}

.appContent {
    font-size: 16px;
}
/*.appContent > * {
    font-size: inherit
}*/
.appContent ul{font-size:16px;}
.appContent h4 {
    color: #212121;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.appContent h5 {
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}

.appContent h3 {
    color: #36464e;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0
}

.appContent img {
    max-width: 100%;
    height: auto;
}

.appContent h1 {
    color: #ef4023;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
}

.appContent h2 {
    color: #ef4023;
    font-size: 20px;
    /* font-weight: bold; */
    letter-spacing: -1px;
}

.appContent h3 {
    font-size: 18px;
}

.appContent h4 {
    font-size: 16px;
}

.appContent h5 {
    font-size: 14px;
}

.appContent h6 {
    font-size: 11px;
}

.appContent ul li:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
   /* font: normal normal normal 14px/1 FontAwesome;*/
    position: absolute;
    left: 0;
    color: #ef4023;
}

.appContent ul li {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
}

.appContent ul {
    margin: 0;
    padding: 0 0 15px 0;
    list-style: none;
}
.appContent ul.style1 {
    margin: 0;
    padding: 0 00;
    list-style: none;
}
.appContent ul.style1 li{
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
}
.appContent ul.style1 li:before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ef4023;
    left: 0;
    top: 5px;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
}
.appContent table.tblStyle td, .appContent table.tblStyle th {
    border: 1px solid #ef4023;
    padding: 10px;
}
.appContent table.tblStyle  th{
    background: #ef4023;
    color: #fff;
    border: 1px solid #fff;
}
.appContent table.tblStyle  th:first-child{
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
.appContent table.tblStyle  th:last-child{
    -webkit-border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
border-top-right-radius: 10px;
}
.appContent table th:first-child {
    border-left: none;
}

.appContent table th {
    font-weight: normal;
    padding: 10px 9px;
    text-transform: uppercase;
}

.appContent table td:first-child {}

.appContent table {
    width: 100% !important;
    margin-bottom: 10px;
}

.appContent table td {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 9px;
    /* text-transform: uppercase; */
    /*border-left: 1px solid rgb(239, 237, 237);*/
}

.appContent table td ul{
	font-size:14px;
}
.appContent table.haveborder {}

.appContent table.haveborder th {
    border-top: 2px solid rgb(239, 237, 237);
    border-bottom: 2px solid rgb(239, 237, 237);
    border-left: 1px solid rgb(239, 237, 237);
}

.appContent table.haveborder td {
    border: 1px solid rgb(239, 237, 237);
}

.appContent p {
    text-align: justify;
    line-height: 1.6;
}

.appContent a {
    color: #ef4023;
}
.appContent a:hover {
    text-decoration: underline;
}
.appContent {
    padding-left: 10px;
    padding-right: 10px;
}
.f_size_10 { font-size: 10px !important;}
.f_size_11 { font-size: 11px !important;}
.f_size_12 { font-size: 12px !important;}
.f_size_14 { font-size: 14px !important;}
.f_size_15 { font-size: 15px !important;}
.f_size_16 { font-size: 16px !important;}
.f_size_17 { font-size: 17px !important;}
.f_size_18 { font-size: 18px !important;}
.f_size_19 { font-size: 19px !important;}
.f_size_20 { font-size: 20px !important;}
.f_size_25 { font-size: 25px !important;}