.digital_ticket .tickets .ticket {
    padding-bottom: 9px;
    position: relative;
}

.digital_ticket .tickets .ticket .content .actions {
    position: absolute;
    right: 0;
    float: none;
    top: 7px;
}

.digital_ticket .tickets .ticket .content {
    padding-right: 0;
    padding-left: 10px;
}

.list-view .pager {
    margin-bottom: 10px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="checkbox"] {
    padding: 2px !important;
}

@media only screen and (max-width: 1024px) {
    ul#navmenu a:hover {
        background: #398bce !important;
        color: white !important;
    }

    ul#navmenu ul li a {
        background: #398bce !important;
        color: white !important;
        font-weight: normal;
        border-bottom: none;
    }

    .header_left {
        position: absolute;
        font-size: 25px;
        left: 10px;
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    ul#navmenu {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        height: auto;

    }

    ul#navmenu>li {
        float: none;
        height: auto;
        flex: 0 0 16.666%;
        max-width: 16.6666%;
    }

    div.form {
        padding: 0;
    }

    div.form h1 {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between;*/
    }

    div.form h1 a {
        margin-bottom: 3px;
        margin-left: 3px;
        max-width: 22%;
        flex: 0 0 20%;
        display: block;
        font-size: 13px !important;
        letter-spacing: 0;
    }

    .digital_ticket .button-group {
        float: none;
        margin-top: 20px;
    }

    .digital_ticket header h1 {
        float: none;
    }

    .digital_ticket {
        width: auto;
    }

    #main {
        min-width: inherit;
    }

    #wrap {
        width: auto;
        padding: 0;
    }

    div.search-form {
        position: relative;
        height: 53px;
    }

    div.form .buttons {
        padding-left: 0 !important;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    div.wide.form label {
        text-align: left;
        width: auto;
        float: none;
    }

    .collapse form input[type="text"],
    .collapse form textarea,
    .collapse .content-area input[type="text"],
    .collapse .content-area textarea {
        float: none !important;
        width: 100% !important;
        margin: 0;
        padding: 10px;
        font-size: 15px;
        box-sizing: border-box;

    }

    #content .hm_issuse_search form {
        padding-bottom: 18px !important;
    }

    .portlet-content {
        margin: 0;
        padding: 7px 10px;
    }

    .simple_form.new_reply {
        overflow: auto;
    }

    .digital_ticket .tickets .ticket .post_reply h4 {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .collapse form,
    .collapse .content-area,
    .styled-form form,
    .styled-form .content-area {}

    #submit_ajax {
        width: 100% !important;
    }

    .digital_ticket .tickets .ticket .replies .reply {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .digital_ticket .tickets .ticket .replies .reply.received .author {
        float: none;
        display: block;
        order: 0;
        width: auto;
        text-align: left;
    }

    .digital_ticket .tickets .ticket .replies .reply.received .message {
        float: none;
        width: auto;
        order: 1;
        padding: 0;
    }

    .btn_delete_one_detail {
        margin-left: 0;
        margin-top: 10px;
        float: none;
    }

    .login_page #main {
        min-width: inherit;
    }

    .login_page #tab-frame {
        min-height: inherit;
    }

    .login_page #wrap {
        width: auto;
    }

    .digital_ticket .tickets .ticket .content .actions {
        position: static;
            display: block;
    }

    .digital_ticket .tickets .ticket .content .title {
    	font-size: 14px;
        float: none;
        width: auto;
    }
    .digital_ticket .tickets .ticket .content .actions a{
        float: none;
        display: inline-block;
    }
    .row.buttons.padding-fix {
        position: static!important;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    ul#navmenu>li {

        flex: 0 0 25%;
        max-width: 25%;
    }

    div.form h1 a {
        max-width: 27%;
        flex: 0 0 27%;
    }

    .digital_ticket .tickets .ticket .content .title {
        width: auto;
        float: none;
            display: block;
    }

    .digital_ticket .tickets .ticket .content .created_at {
        display: block;
        float: none;
        clear: none;
    }

    .digital_ticket .tickets .ticket .content .created_at span.label {
        display: inline-block;
    }

    #content {
        padding: 10px;
    }

    /*.collapse fieldset{
	width: 100%;
}*/
    .collapse fieldset>table td {
        display: block;
    }

    .collapse fieldset>table {
        display: block;
        padding-left: 10px;
    }

    .collapse fieldset {
        padding: 20px;
        width: auto;
    }

    form.button_to.w-200.padding_0 {
        width: 100% !important;
        margin-top: 10px;
    }

    input.padding_0.padding_5.btn.btn_closed_tickets {
        width: 100% !important;
        padding: 6px !important;
        min-height: 35px !important;
        font-size: 15px;
    }

    .simple_form.new_reply fieldset .row {
        position: relative;
        margin-bottom: 10px;
    }

    img.ui-datepicker-trigger {
        position: absolute;
        right: 0;
        top: 5px;
    }

    .simple_form.new_reply fieldset .row .remove_row_item {
        position: absolute;
        right: -14px;
        top: 6px;
    }

    .materials_table {
        margin-top: 10px;
    }

    #new_ticket input.button {
        width: 100% !important;
    }

    #new_ticket .row.w-350 {
        width: 100% !important;
    }

    #new_ticket .styled-select {
        float: none;
        margin: 6px 0px;
        display: block;
    }

    select#GasIssueTickets_problem {
        width: 100% !important;
        float: none;
        padding: 10px;
        display: block;
    }

    .unique_wrap_autocomplete.w-650 {
        width: 100% !important;
    }

    div#new_ticket .portlet-content {
        padding: 1px 0px 7px 0px;
    }

    .digital_ticket #new_ticket #ticket_topic_field {
        display: block;
        float: none;
    }

    div#new_ticket .row {
        position: relative;
    }

    .digital_ticket #new_ticket textarea {
        margin-top: 10px;
    }

    #new_ticket .collapse form,
    .collapse .content-area,
    .styled-form form,
    .styled-form .content-area {
        padding-top: 0
    }
   
    .login_page div.form .row label {
        width: 100%;
    }

    .login_page .row_align.rememberMe.padding-fix {
        padding-left: 0!important;
    }
    .login_page .form .gas_login {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    ul#navmenu>li {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    div.form h1 a {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .digital_ticket header h1 {
        font-size: 16px !important;
    }

    .digital_ticket header .button {
        padding: 7px;
        font-size: 13px;
        border: none;
        margin-left: 4px !important;
        margin-right: 0 !important;
        float: none !important;
        display: inline-block;
    }

    h2.section-header,
    h3.section-divider {
        font-size: 16px;
    }

    .pager ul.yiiPager li a {
        display: block !important;
    }

    .pager ul.yiiPager li {
        display: inline-block !important;
        margin-bottom: 4px;
    }

    .digital_ticket .tickets .ticket .content .actions a,
    .digital_ticket .tickets .ticket .content .actions input[type="submit"] {
        font-size: 14px;
        background-size: 20px;
        padding-left: 36px;
    }

    .w-350.tb_file {
        width: 100% !important;
    }

    .item_l.w-400 {
        width: auto !important;
    }

    .tb_file .input_file {
        width: 100% !important;
    }
}