.container { margin: 0 auto; width: 860px; }
.container table { width: 100%; }
/*.container .logo { border: #ccc solid 1px; height: 50px; width: 100px; }*/
.container .logo { height: 80px; width: 80px;float: left; }
.container .logo img { float:left; }
.tb { border-collapse: collapse; margin-top: 20px; }
.tb th, .tb td { border: #ccc solid 1px; padding: 5px; }
.border_black th, .border_black td { border: #000 solid 1px; padding: 5px; }
.tb th { background: #f1f1f1; text-align: center;}
/*.tb tfoot td { background: #ddd; font-weight: bolder; text-transform: uppercase; }*/
.tb tfoot td { background: #ddd; font-weight: bolder;}
.sprint { float: right; padding-right: 160px; }
.agent_info { padding-top: 5px;}
.item_c { text-align: center;}
.item_l { text-align: left; }
.item_r { text-align: right; }
.item_c { text-align: center; }
.item_b { font-weight: bold; }
.item_u { text-decoration: underline; }
.item_i { font-style: italic; }
.item_normal { font-weight: normal; }
.item_sub_10 { padding-left: 10px !important; }
.item_sub_20 { padding-left: 20px !important; }

.r_padding_10 { padding-right: 10px;}
.r_padding_20 { padding-right: 20px;}
.r_padding_50 { padding-right: 50px;}
.r_padding_100 { padding-right: 100px;}
.l_padding_10 { padding-left: 10px;}
.l_padding_20 { padding-left: 20px;}
.l_padding_50 { padding-left: 50px;}
.l_padding_100 { padding-left: 100px;}
.l_padding_200 { padding-left: 200px;}
.l_padding_300 { padding-left: 300px;}
.l_padding_400 { padding-left: 400px;}
.l_padding_500 { padding-left: 500px;}
.t_padding_3 { padding-top: 3px !important;}
.t_padding_5 { padding-top: 5px !important;}
.t_padding_10 { padding-top: 10px !important;}
.t_padding_15 { padding-top: 15px !important;}
.t_padding_20 { padding-top: 20px !important;}
.t_padding_25 { padding-top: 25px !important;}

.align_r { text-align: right;}
.align_l { text-align: left;}
.size_print { font-size: 12px;}
.v_top { vertical-align: top;}

.w-150 {  width: 150px !important; }
.w-140 {  width: 140px !important; }
.w-130 {  width: 130px !important; }
.w-120 {  width: 120px !important; }
.w-110 {  width: 110px !important; }
.w-100 {  width: 100px !important; }
.w-90 {  width: 90px !important; }
.w-80 {  width: 80px !important; }
.w-70 {  width: 70px !important; }
.w-60 {  width: 60px !important; }
.w-50 {  width: 50px !important; }
.w-55 {  width: 55px !important; }
.w-40 {  width: 40px !important; }
.w-30 {  width: 30px !important; }
.w-20 {  width: 20px !important; }
.w-10 {  width: 10px !important; }
.w-160 {  width: 160px !important; }
.w-170 {  width: 170px !important; }
.w-180 {  width: 180px !important; }
.w-190 {  width: 190px !important; }
.w-200 {  width: 200px !important; }
.w-210 {  width: 210px !important; }

.w-220 {  width: 220px !important; }
.w-250 {  width: 250px !important; }
.w-280 {  width: 280px !important; }
.w-300 {  width: 300px !important; }
.w-310 {  width: 310px !important; }
.w-320 {  width: 320px !important; }
.w-330 {  width: 330px !important; }
.w-340 {  width: 340px !important; }
.w-350 {  width: 350px !important; }
.w-360 {  width: 360px !important; }
.w-370 {  width: 370px !important; }
.w-380 {  width: 380px !important; }
.w-390 {  width: 390px !important; }
.w-400 {  width: 400px !important; }
.w-450 {  width: 450px !important; }
.w-460 {  width: 460px !important; }

.f_size_14 { font-size: 14px !important;}
.f_size_15 { font-size: 15px !important;}
.f_size_16 { font-size: 16px !important;}
.f_size_17 { font-size: 17px !important;}
.f_size_18 { font-size: 18px !important;}
.f_size_19 { font-size: 19px !important;}
.f_size_20 { font-size: 20px !important;}
.f_size_25 { font-size: 25px !important;}
.td_last_r { border-right: none !important;}
.td_first_t { border-top: none !important;}
.fix_noborder td { border: none !important;}
.WhiteSpaceNormal { white-space: normal !important;}