@font-face {
    font-family: 'Conv_Myriad Pro Regular';
    src: url('../fonts/Myriad Pro Regular.eot');
    src: local('☺'), url('../fonts/Myriad Pro Regular.woff') format('woff'), url('../fonts/Myriad Pro Regular.ttf') format('truetype'), url('../fonts/Myriad Pro Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Conv_Myriad Pro Regular';
}

.gridProfile {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: 1px solid #eb4026;
    border-radius: 10px;
    margin-top: 10px;
}

.image img {
    max-width: 180px;
    height: auto;
    border: 2px solid #d6d6d6;
}

.image {
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.gridProfile__item {}

.w-image {}

.info {
    color: #fff;
    text-align: left;
    background: #ff3908;
    text-align: center;
    padding: 20px 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-top: 20px;
    line-height: 1.4;
}

.info h4 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0px;
}

.info h5 {
    font-size: 16px;
    margin: 0;
    padding-top: 0px;
    font-weight: normal;
}

.info p {
    font-size: 14px;
    margin: 0;
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo img {
    max-width: 180px;
}
