.call-tab-bar-fone {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 24px;text-align: center;
   
}
.bg-blue {
    background: #009688 !important;
}
.bg-green {
    background: #55b406 !important;
}
.bg-red {
    background: #E57373 !important;
    /*color: #fff !important;*/
}
.bg-answer {
    background: #80CBC4 !important;
    /*color: #fff !important;*/
}
.call-form-call {
    /* max-width: 500px; */
    margin: 0 auto;

    vertical-align: top;
}
.call-form-control {
    text-align: left;
}
label.call-lbl1 {
    width: 120px;
    display: inline-block;
    font-size: 14px;
    float: left;    padding-top: 5px;
}
.call-ipt-form { }
input.call-iptclass {
      width: 100%;
    height: 30px;
    outline: none;
    box-sizing: border-box;
    padding: 3px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.call-btn-update {
    background: #0080FF;
    padding: 7px 13px;
    color: #fff !important;
    font-size: 12px !important;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.call-tab-bar-fone.bg-green {
    background: #55b406;
}
.call-tab-bar-fone.bg-red {
    background: #b4061a;
}
.call-btn-update:hover{ background:#0626b4}
h3.call-name-client {
    font-size: 15px;
    color: #0080ff;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}
label.call-lbl2 {
    display: inline-block;
    float: left;
    width: 76px;
    font-weight: bold;
}
.call-info-client {
   
    line-height: 1.6;
}
select.call-ipt-slc {
    width: 100%;
    height: 30px;
    background: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}
.call-grp-client {
    margin-bottom: 20px;
}
textarea.call-txt-area {
    width: 100%;
    /* height: 30px; */
    outline: none;
    box-sizing: border-box;
    padding: 3px;

    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    resize: none;
}
.call-group-call { 
    box-sizing: border-box;
}
.call-left-from {
    text-align: center;
    margin-bottom: 10px;
 
}
.call-t-header {
    text-align: left;
    font-size: 20px;
    color: #0080ff;
}
table.call-tbl-list th {
    background: #0080ff;
    color: #fff;
    padding: 5px;
    text-transform: uppercase; border: 1px solid #fff;
}

table.call-tbl-list {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse; text-align: left;
}
table.call-tbl-list td{    border: 1px solid #ccc; padding:10px}
span.call-t-phone {
    font-weight: bold;
    color: red;
}
.left-from {
    display: table-cell;
    vertical-align: middle;
    width: 140px;
}
.grp-bar {
    display: table;
    width: 100%;    margin-bottom: 12px;
}
.right-from {
    display: table-cell;
    vertical-align: middle;
}
.ui-tabs .ui-tabs-panel { padding: 3px;}
.call-focus { color: #b4061a !important }
.call-btn-free {padding: 3px; background: #b4061a;color: #fff;font-size: 11px;border: none;outline: none;border-radius: 5px; cursor: pointer; }
.call-btn-free:hover{ background: #55b406}

/*May 21, 2017 add new style*/ 
.box-cart .list-cart {
    text-align: left;
    font-size: 0;
    margin-left: -20px;
    /* margin-right: -20px; */
    box-sizing: border-box;
    margin-bottom: 10px
}

.box-cart .lbl-cart {
    background: #0626b4;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 17px;
}
.box-cart .grp-ipt-cart {
    position: relative;width: 100%;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.box-cart input.ipt-cart {
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: none; font-size:30px; padding-right: 30px; position: relative; z-index:1;
    text-align: center;
}
.box-cart .item-cart {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-left: 20px;box-sizing: border-box;
}
.box-cart .btn-cart {
    display: inline-block;
    position: absolute;
    background: #c7c1c1;
    width: 25px;
    height: 23px;
    right: 0;
    cursor: pointer;
    z-index: 1;
}
.box-cart .btn-cart.cart-up {
    background: url("../images/up.png") no-repeat center center #c7c1c1;
    right: 1px;
    top: 1px;-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
}
.box-cart .btn-cart.cart-down {
    background: url("../images/down.png") no-repeat center center #c7c1c1;
    bottom: 1px;
    right: 1px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
.box-cart label.title-cart {
    text-align: left;
    display: block;
    margin-bottom: 10px;
}
.box-cart .item-ipt-cart {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    clear: both;
}
.box-cart input.ipt-cart-2 {border: 1px solid #ccc; width: 100%; box-sizing: border-box; height: 35px; padding: 3px; border-radius: 4px; outline: none; }
.item-ipt-cart.WrapAgentSearch.form {padding-right: 0; margin-top: 18px;}
.AutoSearchAgent { width: 70%; display: inline-block; float: left; margin-bottom: 10px; }
.ChkPayDirect { margin-top: 8px; width: 24%; float: right; }
.item-ipt-cart span.remove_row_item { position: absolute; top: 0; left: 0; }
.color_call {width: 50px; height: 15px; }
/*.CallBoxUpdateFailed .item {width: 30.5%; display: inline-block; vertical-align: top; font-size: 11px; padding-left: 2px; padding-right: 2px; }*/