/*.wapper_quotes {background:url(../images/pdf_banner1.png) no-repeat right top; width:800px; margin:0 auto}*/
body{ background:url(http://spj.daukhimiennam.com/themes/gas/image_pdf/quotes_customer/dkmn_bg.png) no-repeat right top;}