#calendar{width: 100%; padding: inherit;}
#calendar a{text-decoration: none; color: black;}
table[class^="month"]{
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    overflow: visible;
    text-align: center;
    padding: 20px;
    height: 290px;
    box-sizing: content-box;
}
table[class^="month"] td{
    width: 35px;
    height: 35px;
}
.calendar-day-head{
    font-weight: bold;
}
.weekend{background: #d6d6d6;}
.special-holiday{background: #93ce91; color: white}
.addition-holiday{background: #41afde;}
.note-container{border-left: 4px solid black; padding: 0 0 5px 10px; margin-left: 35px;}
.note-cell{
    width:25px;
    height: 25px;
    display: inline-block;
    margin: 10px 5px 0 0; 
    position: relative; 
    top: 6px;
}
.color_type_0{background: #ff6b6b;}
.color_type_6{background: #ffd400;}
.color_type_7{background: #738abf;}
.color_type_8{background: #b97d7d;}
.color_type_9{background: #f71be6;}
.color_type_10{background: #a2a2a2;}