.dragTarget{
    z-index: 999999999;
    padding: 10px;
}

.dragItem, .btnDefault{
    background: #4c97b578;
    padding: 3px;
    font-weight: 500;
    cursor: pointer;
    margin: 1px;
    display: inline-block;
    border-radius: 35px;
}
.addFactorBtn{
    position: relative;
    top: 2px;
    right: 2px;
}