/*
*This css is apply to Hr
*/
*{box-sizing: content-box!important;}
.display_none{display: none;}
.panel.panel-active{background: #a3d9ff;}
/*functionsUI*/
#typeTabs>ul>li:not(.active)>a{background: teal; font-size: 16px!important}
#typeTabs>ul>li.active a{font-size: 16px!important; background: white; color: black;}
#typeTabs>ul>li:not(.active) a:hover{color: white!important; background: #016b6b!important}
#typeTabs .tab-content{padding: 20px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; margin-left: 1px;margin-top: -1px;}
.nav-tabs{border:none}

/*WorkScheduleUI*/
#tbl_work_schedule{
    display: block;
    position: relative; width: 100%; 
    overflow: hidden; border-collapse: collapse; 
    font-size: 10px;
} 
#tbl_work_schedule thead{
    position: relative; display: block;  
    width: 100%; overflow: visible;
} 
#tbl_work_schedule tbody{
    position: relative; display: block; 
    width: 100%; max-height: 460px; 
    overflow: scroll;
} 
#tbl_work_schedule thead th.sum_col{
    position: relative; 
    min-width: 80px; 
    width: 80px; 
    padding: 5px;} 
#tbl_work_schedule .sum_col_small{
    min-width: 40px; 
    width: 40px; 
    padding: 5px;} 
#tbl_work_schedule thead th:nth-child(2){
    position: relative; 
    background: #f3f3f3; 
    width: 120px; 
    min-width: 120px;
    z-index: 1;
    padding: 5px 8px;
} 
#tbl_work_schedule thead th:nth-child(1){
    position: relative; 
    min-width: 30px; 
    width: 30px; 
    text-align: center;
    z-index: 1;
} 
#tbl_work_schedule tbody tr td.sum_col{
    position: relative; 
    display: table-cell;
    background: #f3f3f3;
    min-width: 80px; 
    width: 80px; 
    padding: 5px;
}
#tbl_work_schedule thead th.position_col,
#tbl_work_schedule thead th.province_col,
#tbl_work_schedule tbody td.position_col,
#tbl_work_schedule tbody td.province_col{
    max-width: 40px;
    min-width: 40px;
    width: 40px;
}
#tbl_work_schedule tbody tr td:nth-child(2){
    position: relative; 
    display: table-cell; 
    background: #f3f3f3; 
    width: 120px;
    min-width: 120px;
    z-index: 1;
}
#tbl_work_schedule tbody tr td:nth-child(1){
    background: #f3f3f3; 
    min-width: 30px;
    width: 30px;
    text-align: center;
    z-index: 1;
    padding: 0;
}
#tbl_work_schedule td.cell_container,
#tbl_work_schedule td.cell_container_no_drop {
    padding: 0;
    padding: 0;
    overflow: hidden;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
}
#tbl_work_schedule th.wday{
    margin: 0;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    padding: 0;
}
#tbl_work_schedule td, th{
    border: 1px solid grey; 
    width: 30px; 
    position: relative;
}
#tbl_work_schedule td.job_info,
#tbl_work_schedule th.job_info{
    width:60px;
    max-width:60px;
    min-width:60px;
}
#tbl_work_schedule th{
    /*padding: 3px;*/ 
    text-align: center; 
    background: #f3f3f3;
}

/*Sum row*/
#tbl_work_schedule tr.sum_row{
    text-align: center;
}
#tbl_work_schedule tr.sum_row td:nth-child(2){text-align: right; font-weight: bold;}
#tbl_work_schedule tr.sum_row td{
    padding: 3px;
    background: #85ff00;
}

.shift_cell{
    background: #efefef;
    text-align: center; width: 100%; 
    overflow: visible; position: absolute; 
    top: 0; bottom: 0;
} 
.employee_cell{padding: 5px 8px;} 
.list_shift{padding: 12px 0px 5px 0px;list-style-type: none; text-align: right;}
.shift_container{display:  inline-block; padding: 5px; margin-top: 5px; }
.list_shift .shift_container{padding: 5px; margin-right: 5px;}
.weekend{background: #cecece;}

.shift_color_1{background: #ffa185}
.shift_color_2{background: #f1b806}
.shift_color_3{background: #b4ffb3}
.shift_color_4{background: #e8e8e8}
.shift_color_5{background: #fffbb7}
.shift_color_6{background: #fbff00}
.shift_color_7{background: #b1a6d4}
.shift_color_8{background: #fdc9c9}
.shift_color_9{background: #1ac5c5}
.shift_color_10{background: #60b535}
.shift_color_11{background: #7c9eff}
.shift_color_12{background: #bbb13c}
.shift_color_13{background: #3f9442; color: white;}
.shift_color_14{background: black; color: white;}
.shift_color_15{background: #001def; color: white;}
.shift_color_16{background: #1a5d35; color: white;}
.shift_color_17{background: #5f5614; color: white;}
.shift_color_18{background: #c000ff; color: white;}
.shift_color_19{background: #4d2698; color: white;}
.shift_color_12{background: #32f501}
.shift_color_yellow{background: #fbff00!important; color: black!important;}

li:not(.active) a.tabLink:hover{background: #2a6496!important; color: white;}
#ws-tabs li:not(.active) a.tabLink{font-size: 11px; background: #5ba0c9; color: white; margin: 1px!important;}
li.active{background: white!important}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background: white; font-size: 11px;}

/*Salary reports*/
#select-role-container{height: 361px;overflow-y: scroll;}
.role_container {background:#dadada; margin:5px 0; padding:10px; cursor:pointer; position:relative;}
.user-container{padding-left:40px; background:#ececec;}
.user-name{display:block;padding: 5px;border-bottom: 1px dotted #d6d6d6; position:relative;}
.icon-role{position: absolute!important; right: 10px; top: 13px!important; transition:.3s;}
.anm .icon-role{transform:rotate(90deg); transition:.3s;}
.user-checkbox, .role-checkbox{transform:scale(1.5);-ms-transform: scale(1.5);-webkit-transform: scale(1.5);position:absolute; right:50px;}
.user-checkbox{right:30px;}
#check-all-role-btn{position: absolute; right: 92px; transform: scale(1.5);-ms-transform: scale(1.5); -webkit-transform: scale(1.5);}
.highlight{background: #dadada;}
/*-report*/
.tab-pane.fade.active{background: white!important;}
#tabs>ul>li:not(.active)>a.tabLink{background: teal;}
.ajaxBtn.btn.btn-default.active{border: 2px solid #0467e2;box-shadow:none;}
.ajaxBtn.btn.btn-primary.active{background:#004480!important;border-color:#adadad;}
a.tab{font-size:11px; background:#5ba0c9; color:white; margin:1px!important;}
li:not(.active) a.tab:hover{background:#2a6496!important;color:white!important;}
.child-tab li{width:33%; text-align:center;}
.month li{margin: 7px;}
.reportTblContent{width: 80%;float:left;position:relative;padding:10px;}
.month{display:grid; padding:0;}
.month .btn{margin: 5px 6px;}
.left-menu{padding:0; float:left; width:18%; max-height:550px;margin-top:50px;}
.rp-item-ctn{border: 1px solid #a0a0a0; padding: 10px; margin: 10px; width: 30%; background: #d0d0d0;display: inline-table;}
.rp-item-ctn p{margin:0}
.rp-item-ctn:hover{background: #f1f1f1}
.rp-empty-item-ctn{border: 1px solid #a0a0a0; padding: 10px; margin: 10px; width: 30%; background: #fff;display: inline-table; height: 122px;}
.final-active{background: #d0d0d0!important;}
.rp-item-ctn.selected{box-shadow: 0px 0px 0px 4px #5ba0c9;background:#f1f1f1;}
.separateYear{text-align: center; font-size: 11px; font-weight: bold; letter-spacing: 6px; position: relative;}
.separateYear::after, .separateYear::before{content: ""; display: block; border-bottom: 1px solid black; margin-left: 7px; width: 29%; position: absolute; bottom: 9px;}
.separateYear::before{right: 7px;}
/* Fix col table */
table.reportTable { 
    position: relative; 
    width: 915px; 
    overflow: hidden; 
    border-collapse: collapse; 
    text-align:center; 
    font-size: 12px;
    table-layout: fixed; /* for width 100% */
}
table.reportTable thead { 
    position: relative; 
    display: block; 
    /*width: 915px;*/ 
    width: 100%; 
    overflow: visible;
}
table.reportTable tbody { 
    position: relative;
    display: block; 
    /*width: 915px;*/ 
    width: 100%; 
    max-height: 400px; 
    overflow: scroll; 
}
table.reportTable thead th {
    min-width: 90px; 
    max-width: 90px; 
    width: 90px; 
    height: 32px; 
    text-align: center; 
    position: relative; 
    background: #ececec;
    outline: 1px solid black; 
    z-index:1;
}
/*table.reportTable thead th:nth-child(1), 
table.reportTable thead th:nth-child(2), 
table.reportTable thead th:nth-child(3), 
table.reportTable thead th:nth-child(4),
table.reportTable thead th:nth-child(5){
    position: relative; 
    z-index:2; 
    background:#ececec; 
    height:71px; 
    box-shadow: 0px 0px 0px 1px black;
}*/
table.reportTable thead th.fix_col{ /* Chuyển về tương tự cái trên */
    position: relative; 
    z-index:2; 
    background:#ececec; 
    height:71px; 
    box-shadow: 0px 0px 0px 1px black;
}
table.reportTable thead th:nth-child(1) {
    min-width: 20px; 
    width: 20px; 
}
table.reportTable thead th:nth-child(2) {
    min-width: 100px; 
    width: 100px; 
}
table.reportTable tbody td {
    min-width: 90px; 
    max-width: 90px; 
    width: 90px;
    overflow: hidden;
}
/*table.reportTable tbody tr td:nth-child(1),
table.reportTable tbody tr td:nth-child(2),
table.reportTable tbody tr td:nth-child(3),
table.reportTable tbody tr td:nth-child(4),
table.reportTable tbody tr td:nth-child(5){
    position: relative; 
    display: table-cell; 
    height: 40px; 
    background:#ececec;
}*/
table.reportTable tbody tr td.fix_col{ /* Chuyển về tương tự cái trên */
    position: relative; 
    display: table-cell; 
    height: 40px; 
    background:#ececec;
}
table.reportTable tbody tr td:nth-child(1) { 
    min-width: 20px; 
    width: 20px; 
}
table.reportTable tbody tr td:nth-child(2) { 
    min-width: 100px; 
    width: 100px; 
}
table.reportTable table tr{
    min-width:900px; 
}
.tbl-container{
    position:relative;
    width:100%; 
    max-height: 800px;
    overflow: hidden;
} 
.remove-icon{
    font-size:10px; 
    position:absolute!important; 
    right:5px; 
    top:3px!important; 
    color:red; 
    opacity:.3;
}
.remove-icon:hover{opacity:1;}
/* End fix col table */
.reshow-icon {
    background: #8bd2d2;
    display: inline-block;
    padding: 0 7px;
    margin: 0 3px 3px 0;
    cursor: pointer;
    border-radius: 27px; 
    user-select:none; 
    -moz-user-select: none; 
    -webkit-user-select: none;
}
.saveListHideItemBtn{margin: 5px 0; display: block;}

/*Create Coefficients, Parameters*/
.prams-coef-contaner{
    position:sticky; 
    top:0; 
    position:-webkit-sticky; 
    text-align:center; 
    margin-bottom:10px; 
    background:#0288a7;
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
}
.prams-coef-contaner .pc-col{
    width: 49%; 
    display: inline-block; 
    text-align: left;
}
.prams-coef-contaner .pc-col table{
    min-height: 100px;
    width: 100%;
    border: 1px solid black;
    margin-top: 2px; 
    border:none;
}/*End create*/

.icon-group{
    text-align: center;
}
.icon {
  border: solid #696969;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.icon:hover{
    cursor: pointer;
    border-color: black;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg) translateY(-3px);
    -webkit-transform: rotate(-135deg) translateY(-3px);
}
.down {
    transform: rotate(45deg) translateY(-3px);
    -webkit-transform: rotate(45deg) translateY(-3px);
}


.sortable{
    width: 100%; 
    /*height: 100px;*/
    overflow-x: scroll;
    /*white-space: nowrap;*/
}
.sortable>div{
    border: 1px solid black;
    background: #ececec;
}
.sortable>div.placeholder{
    background: white;
    border-color: red;
}
.sortable>div, .placeholder{
    /*display:inline-block;*/
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    width: 75px; 
    height: 75px; 
    text-align: center;
    cursor: all-scroll;
    white-space: normal;
}

.leave-wrap{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
tr.user-leave-job td{
    color:red;
    background: #ffdcdc!important;
}
.fix-col{
    z-index: 1;
    background: #f3f3f3;
}
table.table-sticky thead th{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0px 0px 0px 1px #989898;
}
table.table-sticky thead th.sticky-under{
    top: 35px;
}