.main {
    min-width: 1360px;
    /*width: 100vw;*/
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background: red;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -o-radial-gradient(center, ellipse, rgba(30, 87, 153, 1) 0%, rgba(253, 79, 16, 1) 0%, rgba(215, 40, 13, 1) 34%, rgba(152, 7, 10, 1) 77%, rgba(109, 6, 9, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(30, 87, 153, 1) 0%, rgba(253, 79, 16, 1) 0%, rgba(215, 40, 13, 1) 34%, rgba(152, 7, 10, 1) 77%, rgba(109, 6, 9, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* overflow-x: hidden; */
}

.container {
    padding-left: 85px;
    padding-right: 85px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
/*.main .inner .container{
    position: relative;
}*/

.inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* display: flex;
    height: 100%;    
    flex-direction: column; */
}

.footer {
    background: #fff;
    -ms-flex-item-align: end;
    align-self: flex-end;
    z-index: 1;
}

.footer img {
    max-width: 100%;
}

.ttl {
    color: white;
    font-size: 3vw;

}

.ttl-2 {
    color: white;
    font-size: 2.5vw;
    margin-top: 4rem;
}

.logo {
    display: inline-block;
    margin-left: 0.5vw;
    vertical-align: middle;
    width: 10vw;
}

.logo img {
    max-width: 100%;

}

.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    padding-top: 15px;
}

.box {
    /* flex: 0 0 11vw; */
    text-align: right;
    /* max-width: 11vw; */
}

.box-date .date{
    border: 1px solid #fff;
}
.date {
    border-radius: 5px;
    font-size: 1.1vw;
    position: relative;
    margin:3px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #fff;
    border-left: none;
    border-bottom-left-radius: 20px;
}

.txt-2 {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-right: 10px;
    padding-left: 35px;
}

.txt-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
    line-height: 1.2;
    border-bottom-left-radius: 6px;
    color: #000;
    position: relative;
   
    /* background: rgb(193, 198, 199);
    background: -webkit-gradient(linear, left top, right top, from(rgba(193, 198, 199, 1)), color-stop(12%, rgb(255, 255, 255)), color-stop(77%, rgba(179, 185, 186, 1)), color-stop(88%, rgba(209, 213, 213, 1)));
    background: -o-linear-gradient(left, rgba(193, 198, 199, 1) 0%, rgb(255, 255, 255) 12%, rgba(179, 185, 186, 1) 77%, rgba(209, 213, 213, 1) 88%);
    background: linear-gradient(to right, rgba(193, 198, 199, 1) 0%, rgb(255, 255, 255) 12%, rgba(179, 185, 186, 1) 77%, rgba(209, 213, 213, 1) 88%); */
}
.txt-1 b{
    font-weight: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 11px;
    background-size: 100% 100%;height: 100%;
    position: relative;
}
.txt-1 b:after{
    background: url("../images/spin_bg-3.png") repeat-x top;
    position: absolute;
    content: '';
    top: -2px;
    bottom: -2px;
    left: 0;
    right: 0;
    background-size: 100% 100%;
}
.txt-1 b i {
    position: relative;
    z-index: 4;
    font-weight: normal;
    font-style: normal;
}
.txt-1:before{
    background: url("../images/spin_bg-1.png") no-repeat right top;
    width: 41px;
    right: -41px;
    background-size: 100% 100%;
}
.txt-1:after{
    background: url("../images/spin_bg-2.png") no-repeat left top;
    width: 12px;
    left: 0px;
    background-size: 100% 100%;
}
.txt-1:after,.txt-1:before{
    position: absolute;
    top: -2px;
    bottom: -2px;
    content: '';
}

.number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    /*margin-top: 30px;*/
    margin-bottom: 30px;
    padding-right: 280px;
    position: relative;

}

.number div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
    padding: 0 40px 0 0;
}
.btn b {
    font-weight: bold;
    line-height: 1;
    padding-top: 8px;
}
.number div span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 200px;
    font-size: 10vw;
    font-weight: bold;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 4px 5px 10px 5px rgba(95, 89, 89, 0.62);
    -webkit-box-shadow: inset 4px 5px 10px 5px rgba(95, 89, 89, 0.62);
/*    border-radius: 8px;
    -webkit-box-shadow: inset 3px 3px 5px 0px rgba(181, 181, 181, 0.62);
    box-shadow: inset 3px 3px 5px 0px rgba(181, 181, 181, 0.62);*/
}

.btn {
    background: url("../images/spin_btn.svg") no-repeat;
    position: absolute;
    width: 220px;
    height: 220px;
    background-size: contain;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    right: 0;
    -ms-flex-item-align: center;
    align-self: center;
    max-width: inherit !important;
    /* -webkit-animation: beat 0.55s infinite alternate;
    animation: beat 0.55s infinite alternate;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; */
}

.btn.btn2 {
    background: url("../images/spin_btn-4.svg") no-repeat;
    background-size: contain;
    color: white;
}

.btn.btn3 {
    background: url("../images/spin_btn-5.svg") no-repeat;
    background-size: contain;
    -webkit-animation: none;
    animation: none;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.sodaquay {
    /* width: 15vw; */
    color: #ffffff;
    font-size: 2.5vw;
    margin-top: 4rem;
}
.sodaquay>span:first-child{
    margin-right:4em;
} 
.itemslider{
    /* padding-left: 40px; */
}
.itemslideritem.active{
    background: none!important;
}
span.txt-4 {
    padding-left: 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.sodaquay .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.sodaquay .date .txt-1,
.sodaquay2 .date .txt-1 {
    z-index: 4;
/*    
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px; */
}

.sodaquay2 {
    margin-top: 10px;
}

.sodaquay2 .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.itemslider {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width:50%;
}

.date .sroll-item.slick-initialized.slick-slider{
    border: 2px solid white;
    border-radius: 10px;
    background: red;
}
.itemslider div span {
    padding: 15px 5px 11px 5px;
    border-left: 3px solid #fff;
    line-height: 1;
    font-size: 18px;
    font-weight: normal;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.3%;
    flex: 0 0 14.3%;
    max-width: 14.3%;
    text-align: center;
}

.itemslider div span:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.itemslideritem.active div span {
    background: url("../images/spin_btn-6.svg") no-repeat;
    background-size: cover;
    color: #000;
    font-size: 1.4vw;
    font-weight: bold;
}

.sodaquay .date.active span.txt-4 {
    background: url("../images/spin_btn-6.svg") no-repeat;
    background-size: cover;
    color: #000;
    font-size: 1.4vw;
    font-weight: bold;
}

.itemslideritem div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.boxresufl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.boxresufl .item {

    /* -webkit-box-flex: 0;

    -ms-flex: 0 0 20%;

    flex: 0 0 20%;
    max-width: 20%; */
    padding: 20px;

}

.boxresufl .item.havebg >div {
    background: url("../images/spin_btn-2.svg") no-repeat;
    background-size: 100% 100%;
}
.boxresufl .item.havebg div p:first-child {
    font-weight: bold;
    line-height: 1;
}
.boxresufl .item >div {
/*    height: 106px;
    width: 225px;*/
    height: 140px;
    width: 300px;
    margin-right: 55px;
    background: url("../images/spin_btn-3.svg") no-repeat;
    background-size: 100% 100%;
    padding: 24px 21px 7px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    /*justify-content: center;*/
}

.boxresufl .item p {
    margin: 0;
    padding: 2px 0px;
    font-size: 21px;
    line-height: 1;
}

/*custom-css*/
.box-date{
    display:inherit;
    margin-bottom: 6em;
}
.box-date .wrap:first-child{
    margin-right: 10px;
}

@media only screen and (max-width: 1359px) {
    .ttl-2 {
        font-size: 22px;
    }

    .sodaquay {
        /* width: 300px; */
    }

    .sodaquay .date,
    .sodaquay2 .date .txt-1,
    .txt-1,
    .date {
        font-size: 18px;
    }

    .boxresufl .item p {
        font-size: 18px
    }

    .number div span {
        font-size: 80px;
    }

    .btn,
    .ttl {
        font-size: 24px;
    }

    .box {
        max-width: 400px;
    }

    .logo {
        width: 150px;
    }
}

@-webkit-keyframes beat {
    form {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes beat {
    form {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}