@charset "utf-8";

/* CSS Document */
body { margin: 0; font-family: Arial, sans-serif ;    background: none;}
.box-start p { font-weight: bold; font-size: 44px; margin: 0; margin-bottom: 20px }
.box-start { margin-top: 30px; text-align: center; margin-bottom: 30px; position: relative; z-index: 9999; }
.number p { display: inline-block; margin-right: 17px; vertical-align: middle; margin-bottom: 0; }
.btn-start { width: 180px;    /* height: 150px; */ background: red; color: #fff; font-size: 25px; padding: 8px 10px; text-transform: uppercase; border-radius: 9px; border: 4px solid rgba(216, 65, 65, 0.79); outline: none; display: inline-block; vertical-align: middle; cursor: pointer; }
.step span { width: 50px; height: 50px; background: red; color: #fff; border-radius: 50%; line-height: 51px; margin: 0 auto; text-align: center; position: relative; display: inline-block; margin-right: 12px; font-size: 12px; }
.step { font-weight: bold; color: red; margin-top: 13px; margin-bottom: 15px; }
.step span:after { content: ''; position: absolute; top: -5px; left: -5px; right: -5px; bottom: -5px; border: 1px solid #f00; border-radius: 50%; }
.item-box1 { display: table-cell;    /* vertical-align: top; */ width: 37%; font-size: 16px; padding: 20px; box-sizing: border-box; vertical-align: top; padding-top: 0; }
.info-box1 p { margin-bottom: 6px; margin-top: 3px; }
.info-box1 { font-size: 19px; line-height: 1.6; }
.item-box1.mid-box h4 { font-size: 16px; }
.item-box1 h4 { margin: 0; text-transform: uppercase; font-size: 24px; margin-bottom: 16px; }
p.phone span { color: #333; font-size: 46px; font-weight: normal; }
.item-box1.mid-box { vertical-align: middle; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; width: 26% }
.number-sc { font-size: 100px; font-weight: bold; color: red; text-align: center; border-radius: 30px; }
.wrap-box1 { box-sizing: border-box; font-size: 0; display: table; width: 100%; height: 100%; }
.item-box1 ol { margin-left: 0; padding-left: 15px; font-size: 18px; }
.item-box1 li p { margin: 0; }
p.phone { color: red; font-weight: bold; font-size: 35px; }
.item-box1 li { margin-bottom: 8px; }
.item-box2 { text-align: center; display: table-cell; vertical-align: middle; font-size: 28px }
.wrap-body { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.item-box2 .number p {
    display: block;
    text-align: center;
    margin: 0;
    padding-bottom: 14px;
    font-size: 150px;
    font-weight: bold;
    color: red;
 }
 .item-box2 .btn-start {
    font-size: 17px;
    padding: 6px 3px;
    width: 150px;
}
.logo { position: absolute; top: 9px; left: 10px; }
html { height: 100% }
.wrap-box-wrap .wrap-box1 { display: table-cell; vertical-align: middle; padding-top: 100px; }
.wrap-box-wrap { display: table; width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
#viewbox {
     overflow: hidden;
    /* width: 300px; */
    height: 200px;
    position: relative;
    display: inline-block;
}
#viewbox p{padding:0!important;}
#viewbox .wrapper {
    position: relative;
}
#viewbox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#viewbox li {
    display: block;
    height: 200px;
    text-align: center;
   
}
a.show-button {
      position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: red;
    color: #fff;
    text-decoration: none;
    width: 100%!important;
    line-height: 180px;
    box-sizing: border-box;
    font-size: 61px!important;
    font-weight: bold;
}
.loading {
    text-align: center;    margin-top: -110px;
}
.loading img {
}
.step-style2 span {
        display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: red;
    color: #fff;
    line-height: 50px;
    border-radius: 50px;
    font-size: 29px;
    position: relative;
    margin-right: 8px;
}
.step-style2 span:after{    position: absolute;
    top: -5px; content: '';
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #f00;
    border-radius: 50%;}

.step-style2 {
    font-weight: bold;
    color: red;
    margin-top: 13px;
    margin-bottom: 15px;
}
.display_none { display: none;}
#CountDownPanel { display: inline-block; margin-right: 17px; vertical-align: middle; margin-bottom: 0; }
.box-start #CountDownPanel { font-weight: bold; font-size: 80px; margin: 0; margin-bottom: 20px }
div#main {
    width: auto;
    float: none;
    background: none!important;
}
/**/
.button {
  color: #bbb;
  font-size: 20px;
  margin: 0 0.5em;
  text-decoration: none;    opacity: 0.2;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
  color: #000;
}

.stopwatch {
  font-size: 80px;
  font-weight: bold;
  height: 100%;
  text-align: center;    color: red;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.box-start{width: 400px;  margin: 0 auto}
.over-button{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
}